$theme-colors: (
    "primary":    #E7C7B1,
    "secondary":  #8A6652,
    "success":    red,
    "point" : #EB5602,
    "bgPoint" : #FEC7AF,
    // "info":       red,
    // "warning":    red,
    // "danger":     red,
    // "light":      red,
    "dark":       #B69583,
    "bgDisabled" : #D6D7D9,
    "txtDisabled" : #929293,
    "darkGray" : #757575,
    "default" : #F4F2F0
);

$font-sizes : (
    1: calc(1.375rem + 1.5vw),
    2: calc(1.325rem + 0.9vw),
    3: calc(1.3rem + 0.6vw),
    4: calc(1.275rem + 0.3vw),
    5: 1.25rem,
    6: .85rem, 
);

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-link-color: unset;
    --bs-link-hover-color: unset;
}
a {
    text-decoration: none;
}

button.active{
    color: #8A6652 !important;
    font-weight: 600;
    border-bottom: 2px solid #8A6652;
}

nav{
    position: fixed;
    transition: all 0.25s;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
}
nav.on{
    left: 0;
    z-index: 1000;
}
@media (min-width: 768px) {
    //...md
    nav,nav.on{
        position: unset;
        transition: unset;
        width: unset;
        height: unset;
    }
}

.top-bar .user-menu div::after{content: '|'; margin: 0 7px;}
.top-bar .user-menu div:last-child::after{content: none;}

.ft-menu div::after{content: '|'; margin: 0 7px;}
.ft-menu div:last-child::after{content: none;}
